click==latest
colorama==latest
Flask==latest
itsdangerous==latest
Jinja2==latest
joblib==latest
MarkupSafe==latest
numpy==latest
scikit-learn==latest
scipy==latest
sklearn==latest
threadpoolctl==latest
Werkzeug==latest
gunicorn==latest
